# CSS-Final-project
Codedex final CSS project
body{
  
background-color: rgb(53, 51, 51);

}


.buneba{
    width: 100%;
    height: 200px;
   
}

.container { 
   
  text-align: center; 
  color: rgb(255, 255, 255); 
} 
 
.aqw{
  text-align: center;
  font-size: 25px;
color: white;
margin :auto;
}
 

.centered { 
  position: absolute; 
  text-align: center;
 left: 50%;
  transform: translate(-50%, -50%); 
  color: rgb(255, 255, 255);
  font-size: 100px;
  top: 110px;
} 

header{
  height: 309px;
  background-color: rgb(42 109 188);
}

footer{
  height: 280px;
}
main{
  height: 2000px;
}

  


.sio1{
  position: absolute;
  left: 43%;
 color:white;
 font-size: 33px;
 text-decoration: none;
 top: 237px;
}
.sio2{
  position: absolute;
  left: 49%;
  color: white;
  font-size: 33px;
  text-decoration: none;
  top: 237px;
}
.sio3{
  position: absolute;
  left: 56%;
  color: white;
  font-size: 33px;
  text-decoration: none;
  top: 237px;
}
.sio7{
position: absolute;
  left: 34%;
  color: white;
  font-size: 33px;
  text-decoration: none;
  top: 237px;
}

.sio4{
   background-color: rgb(131 187 238);
  color: #fffdfd;
  padding: 5px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  width: 25%;
  position: absolute;
  top: 200px;
  left: 2px;
  z-index: 1;
}
.sio5{
  position: absolute;
  width: 600px;
  height: 400px;
  left: 5px;
  top: 832px;
}
.sio6{
  position: absolute;
  font-size: 25px;
  color: rgb(166, 203, 212) ;
  left: 620px;
  top: 835px;
  text-align: left;
}
.line {
  width: 100%;
  height: 10px;
  background-color: rgb(255, 214, 214);
  border: none;
  border-radius: 20px;
  margin: 40px auto;
  position: absolute; 
  top: 770px;
}
.sio8{
  position: absolute;
  width: 800px;
  height: 550px;
  top: 1255px;
  left: 1225px;
}
.line2{
  width: 100%;
  height: 10px;
  background-color: rgb(255, 214, 214);
  border: none;
  border-radius: 20px;
  margin: 40px auto;
  position: absolute; 
  top: 1200px;
}
.line3{
  width: 100%;
  height: 10px;
  background-color: rgb(255, 214, 214);
  border: none;
  border-radius: 20px;
  margin: 40px auto;
  position: absolute; 
  top: 1770px;
}
  

.line4{
   position: absolute;
  width: 100%;        
  height: 10px;         
  background: #ffffff;    
  border-radius: 10px; 
  top: 2300px;
}


.sio9{
  position: absolute;
  color: #cecaca;
  font-size: 40px;
  text-align: center;
  top: 310px;
  left: 46%;
}
.sio10{
  position: absolute;
  font-size: 25px;
  color: rgb(247, 234, 224);
  top: 395px;
  left: 700px;
  text-align: left;
  border-radius: 10px;
  border: 3px solid rgb(42 109 188);
  
}

.sio11{
  position: absolute;
  width: 550px;
  height: 370px;
  top: 376px;
  left: 125px;
  
}
.sio12{
  position: absolute;
  font-size: 25px;
  color: rgb(247, 234, 224);
  top: 1260px;
  left: 25px;
  text-align: left;
  
  
}
.sio15{
  position: absolute;
  top: 2320px;
  left: 45%;
  color: #ffffff;
  font-size: 50px;
}
.sio13{
  position: absolute;
  top: 2400px;
  left: 42%;
  width : 200px;
  height: 30px;
  border-radius: 10px;
}
.sio14{
  position: absolute;
  top: 2403px;
  left: 53%;
  width: 100px;
  height: 30px;
  border-radius: 10px;
}
.sio16{
  position: absolute;
  top: 1850px;
  left: 7px;
  width: 500px;
  height: 400px;
}
.sio20{
  position: absolute;
  top: 1930px;
  left: 530px;
  font-size: 37px;
  color: rgb(255, 255, 255);
  text-align: left;

  
}
